.productContainer {
    width: 235px;
    height: 416px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px;
}

.productImage {
    height: 215px;
    width: 215px;
    padding: 8px;
}

h3 {
    color: #00594C;
    text-transform: capitalize;
}