.homepageContainer {
    // position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 976px;
    height: 100vh;
    // left: 50%;
    // right: 50%;
    // ;
    // position: absolute;
    // top: 50%;
    left: 50%;
    // margin-top: -50px;
    // margin-left: -100px;
}